.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 550px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  text-align: left;
  word-wrap: break-word;
}

button {
  width: 550px;
}

.fix-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 550px;
}
